*,
*::before,
::after {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  background-color: #2A484E;
}
#question {
  color: white;
  background-color: #377375;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  #question {
    font-size: 20px;
  }
}
.baby {
  color: white;
  font-size: 35px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .baby {
    font-size: 25px;
  }
}
.btn {
  cursor: pointer;
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .btn {
    font-size: 18px;
  }
}
.container {
  width: 800px;
  max-width: 80%;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 20px 2px white;
  background: #829D93;
}
.container .btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 13px;
  margin: 20px 0;
}
.container .btn {
  background: #377375;
  color: white;
  border: 3px solid #fcfcfc;
  border-radius: 5px;
  padding: 5px 10px ;
}
.container .btn:hover {
  border-color: #2a484e;
  box-shadow: inset 600px 0 377375;
  transition: all ease 0.8s;
}
.container .start-btn {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 30%;
  display: flex;
  align-items: center;
  border: none;
}
.container .next-btn {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 40px;
}
.container .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.container .hide {
  display: none;
}
#score {
  font-size: 20px;
  text-align: center;
}
